* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: system-ui;
    background: #f2f2f2;
}

header {
	width: 100%;
}

#guias {
	width: 1440px;
    margin: 5px auto 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

#guias nav a {
    background-color: #315292;
    font-weight: 700;
    font-size: 10pt;
    display: inline-block;
    width: 120px;
    color: #fff;
    padding: 10px;
    border-radius: 6px 6px 0 0;
}

#guias nav a:nth-child(2) {
    background-color: #14223D;
}

#guias nav a:nth-child(3) {
    background-color: #1346aa;
}

#guias nav a:nth-child(4) {
    background-color: #497ddd;
}

#guias a {
    font-size: 10pt;
    color: #000;
    display: flex;
    align-items: center;
}

#guias a:hover {
    text-decoration: underline;
}

#guias nav a i, #guias a i {
    margin-right: 5px;
}

#navegacao-fundo {
    background-color: #fff;
	width: 100%;
}

#navegacao {
	width: 1440px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navegacao figure {
    display: flex;
    align-items: center;
}

#navegacao figure h1 {
    color: #315292;
    margin-right: 10px;
    font-size: 25pt;
}

#navegacao figure img {
    width: 60px;
    height: 60px;
}

#navegacao form {
    display: flex;
}

#navegacao form input {
    width: 400px;
    height: 40px;
    border: 1px solid #205BC6;
    border-radius: 5px 0 0 5px;
    padding: 0 15px;
    outline: none;
}

#navegacao form button {
    width: 50px;
    height: 40px;
    background-color: #205BC6;
    border: 1px solid #205BC6;
    border-radius: 0 5px 5px 0;
    padding: 0 15px;
    cursor: pointer;
}

#navegacao form button i {
    color: #fff;
    font-size: 13pt;
}

#navegacao aside {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#navegacao aside a {
    display: flex;
    font-size: 9pt;
    align-items: center;
    color: #000;
}

#navegacao aside a:hover {
    text-decoration: underline;
}

#navegacao aside a i {
    font-size: 20pt;
    margin-right: 5px;
    color: #315292;
}

#menu-fundo {
    background-color: #14223D;
    width: 100%;
}

#menu {
    width: 1440px;
    height: 45px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
}

label span {
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 30px;
    background-color: #fff;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 8px;
}

label span:nth-child(3) {
    top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 8px;
}

#menu-burguer {
    display: flex;
}

#menu-burguer #label-burguer {
    width: 145px;
    margin-left: 15px;
    color: #fff;
}

#menu-burguer #label-burguer:hover {
    text-decoration: underline;
}

#menu aside {
    display: flex;
    justify-content: space-between;
    width: 1220px;
}

#menu aside a {
    color: #fff;
    display: flex;
    align-items: center;
}

#menu aside a:hover {
    text-decoration: underline;
}

#menu aside a i {
    font-size: 15pt;
    margin-right: 10px;
}

#local-fundo {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
}

#local {
    width: 1440px;
    height: 45px;
    margin: auto;
    display: flex;
    align-items: center;
}

#local i, #local span {
    color: #14223D;
    font-weight: 600;
    margin-right: 5px;
}

#local p {
    color: #444444;
    margin: 1px 10px 0 5px;
    font-size: 10pt;
}

#local a {
    color: #1346AA;
    margin: 0 10px 5px 5px;
    font-size: 11pt;
}

#local a:hover {
    text-decoration: underline;
}

#local a i {
    color: #1346AA;
    font-size: 15pt;
    margin-left: 5px;
}

main {
    background-color: #fff;
    width: 100%;
}

#conteudo {
    width: 1440px;
    margin: auto;
}

#conteudo #img {
    margin: 15px 0;
}

.categoria {
    width: 100%;
    margin-bottom: 20px;
}

.categoria .categoria-topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.categoria .categoria-topo h2 {
    color: #02296D;
    font-size: 18pt;
    font-weight: 400;
}

.categoria .categoria-topo a {
    color: #02296D;
    font-size: 10pt;
    border: 1px solid #02296D;
    border-radius: 5px;
    padding: 12px 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

.categoria .categoria-topo a:hover {
    color: #2e8cf6;
    border: 1px solid #2e8cf6;
    transition: 200ms;
}

.swiper {
    width: 1440px;
}

.categoria .carrossel .swiper-wrapper {
    display: flex;
    height: 480px;
    padding: 5px;
}

.categoria .carrossel .swiper-wrapper .swiper-slide {
    display: inline-block;
    border: 1px solid #dbdbdb;
    width: 260px;
    height: 440px;
    margin: 5px 13px 5px 0;
    padding: 10px;
}

.categoria .carrossel .swiper-wrapper figure:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.30);
    transition: 300ms;
}

.categoria .carrossel .swiper-wrapper figure:nth-child(11) {
    margin-right: 0;
}

.categoria .carrossel .swiper-wrapper figure .figure-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
    border: none;
    margin-bottom: 20px;
}

.categoria .carrossel .swiper-wrapper figure .figure-img img {
    width: 200px;
    height: 250px;
}

.categoria .carrossel .swiper-wrapper figure figcaption {
    color: #5A646E;
    font-size: 10pt;
    height: 70px;
}

.categoria .carrossel .swiper-wrapper figure span {
    color: #022976;
    font-size: 12pt;
    font-weight: 600;
    display: block;
}

.categoria .carrossel .swiper-wrapper figure button {
    background-color: #205BC6;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 12px 0;
    margin-top: 12px;
}

.categoria .carrossel .swiper-wrapper figure button:hover {
    background-color: #2e8cf6;
    cursor: pointer;
    transition: 200ms;
}

.swiper-scrollbar-drag, .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    display: none;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-top: 50px;
}
